/*

  Blocks
  +

*/


*:not(.wp-block-code) > code {
	background-color: var(--wp--preset--color--neutral);
	font-size: var(--wp--preset--font-size--small);
	padding: 5px 8px;
}

.wp-block-query-pagination.block-editor-block-list__layout {
    margin-top: var(--wp--preset--spacing--x-small) !important; 
}

.wp-block-image{
	transition: ease-in-out 1s;
	&:hover{
		filter: grayscale(1);
		transition: ease-in-out filter 1s;
	}
}

// Gallery Block > Lightbox
.scrim{
	opacity: 0.8 !important;
  }
  
  .lightbox-image-container{
	.wp-block-image{
			img{
			&:hover{
				filter: grayscale(0)
			}
			}
		}
  }

.cmb-query {
    border: 1px solid var(--wp--preset--color--contrast);
    border-radius: 4px;
}

.cmb-query .wp-block-post {
    border-bottom: 1px solid var(--wp--preset--color--contrast);

    &:last-child{
        border-bottom: 0;
    }
}


.wp-block-post-comments-form .comment-form textarea {
    margin-top: 1em;
}

@media only screen and (max-width: 801px) {
    .cmb-projects {
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }
}

@media only screen and (max-width: 605px) {
    .page-header {
        padding-top: var(--wp--preset--spacing--small) !important; 
        padding-bottom: var(--wp--preset--spacing--small) !important;

    }
    .editor-styles-wrapper .block-editor-block-list__layout {
        gap: 5px !important;
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;

    }
    .wp-block-group-is-layout-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .cmb-query .wp-block-post,
    .cmb-query .wp-block-post-date {
        text-align: center !important;
    }
    
    .cmb-projects {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}